.pink {
    color: pink;
}

#What {
    text-align: center;
}

.grafi {
    display: none;
}

.texty {
    display: inline-block;
    width: 300px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50px 50px 50px 50px;
    position: relative;
    text-align: center;
    padding-top: 20px;
    background: darkblue;
    color: white;
}

.texty::before {
    content: "\1F5F8";
    color: white;
    display: block;
    position: absolute;
    opacity: 1;
    transform: (50%, 50%);
    transition: 1s;
    left: 90%;
}

.texty::after {
    content: "";
    position: absolute;
    display: none;
}

.conteiner input:checked ~ .texty::after {
    display: block;
}

.conteiner .texty::after {
    -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.grafi:checked + .texty::before {
    opacity: 0;
}

.job {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    width: 95%;
    margin-top: 100px;
    margin-left: 50px;  
}

.job2 {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    margin-left: 50px;
    margin-top: 50px;
    width: 45%;
}

.job3 {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    margin-left: 100px;
    width: 44%;
}

.button {
    background: pink;
    width: 80%;
    margin-left: 170px;
    margin-top: 80px;
    border: 1px solid black;
    height: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    
    
}

.medium {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.bottoms {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

